# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Node dependencies
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build outputs
# =========================
dist/
build/
out/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Coverage / Tests
# =========================
coverage/

# =========================
# Uploads (if using local storage)
# =========================
uploads/

# =========================
# Temp files
# =========================
.tmp
.cache

/nginx/certs/*.crt
/nginx/certs/*.key